.app-component{
    max-width: 50em;
    padding: 1em;
    margin: auto;
    box-shadow: 0px 0px 5px 0px;
}
nav {
    background: purple;
    color: #ffffff;
    padding: 11px;
}
a {
    color: #fff;
    margin-right: 1em;
    text-decoration: none;
}