.row {
    margin: 2em;
}
input:focus-visible, textarea:focus-visible {
    outline: 1px solid gray;
    border: none !important;
}
label span {
    display: inline-block;
    width: 8em;
}
button {
    background: cadetblue;
    border: none;
    padding: 0.5em 2.5em;
    cursor: pointer;
    border-radius: 2px;
    margin-right: 1em;
}
.ng-invalid.ng-dirty .ng-invalid {
    border: 1.5px solid #da0a0a;
}

table{
    margin: auto;
    border-collapse: collapse;
}
td{
    border-bottom: 1px solid #acacac;
    padding: 0.5em 1em;
}
thead tr td {
    font-weight: bold;
    border-collapse: collapse;
}