p{
    padding: 1em;
    border: 1px solid #dedede;
    margin: 2em;
}

table{
    margin: auto;
    border-collapse: collapse;
}
td{
    border-bottom: 1px solid #acacac;
    padding: 0.5em 1em;
}
thead tr td {
    font-weight: bold;
    border-collapse: collapse;
}